<h2>Search Results:</h2>

<% @stations.each do |station| %>
  <div class="station">
    <h4>Station Name: <%= station[:station_name] %></h4>
    <p>Address: <%= station[:street_address] %><p>
    <p>Fuel Type: <%= station[:fuel_type_code] %><p>
    <p>Distance: <%= station[:distance] %> miles<p>
    <p>Access Times: <%= station[:access_days_time] %><p>
    <br>
  </div>
<% end %>
